@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@page {
  margin-left: 0;
  margin-right: 0;
}

@page :first {
  margin-top: 0;
}

ul, li {
  all: revert;
}

.markdown {

  & p {
    all: revert;
  }

  & h1 {
    @apply font-bold;
  }
}
